[Desktop Entry]
Name=wifi-honey
Encoding=UTF-8
Exec=sh -c "wifi-honey -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;07-04-network-spoofing;
X-Kali-Package=wifi-honey
