[Desktop Entry]
Name=airodump-ng
Encoding=UTF-8
Exec=sh -c "airodump-ng --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;
X-Kali-Package=aircrack-ng
