[Desktop Entry]
Name=burpsuite
Encoding=UTF-8
Exec=sh -c "java -jar /usr/bin/burpsuite.jar"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-04-web-crawlers;03-05-web-vulnerability-scanners;03-06-web-application-proxies;03-07-web-application-fuzzers;04-01-online-attacks.directory;07-05-web-sniffers;
X-Kali-Package=burpsuite
