[Desktop Entry]
Name=galleta
Encoding=UTF-8
Exec=sh -c "galleta;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-03-digital-forensics;12-04-forensic-analysis-tools;
X-Kali-Package=galleta
