[Desktop Entry]
Name=mdb-tables
Encoding=UTF-8
Exec=sh -c "mdb-tables;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-05-database-assessment;
X-Kali-Package=mdbtools
