[Desktop Entry]
Name=ikat
Encoding=UTF-8
Exec=sh -c "ikat;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-04-network-exploitation;
X-Kali-Package=ikat
