[Desktop Entry]
Name=ophcrack
Encoding=UTF-8
Exec=sh -c "ophcrack"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=04-02-offline-attacks;
X-Kali-Package=ophcrack
