[Desktop Entry]
Name=stunnel4
Encoding=UTF-8
Exec=sh -c "stunnel4 -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;08-02-tunneling;
X-Kali-Package=stunnel4
