[Desktop Entry]
Name=dradis start
Encoding=UTF-8
Exec=sh -c "service dradis start;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-10-dradis-service;
X-Kali-Package=dradis
