[Desktop Entry]
Name=wfuzz
Encoding=UTF-8
Exec=sh -c "wfuzz;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-07-web-application-fuzzers;
X-Kali-Package=wfuzz
