[Desktop Entry]
Name=nfc-mfclassic
Encoding=UTF-8
Exec=sh -c "nfc-mfclassic -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-01-nfc-tools;
X-Kali-Package=libnfc-bin
