[Desktop Entry]
Name=dos2unix
Encoding=UTF-8
Exec=sh -c "dos2unix -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-01-evidence-management;
X-Kali-Package=dos2unix
