[Desktop Entry]
Name=recstudio-cli
Encoding=UTF-8
Exec=sh -c "recstudio-cli;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-disassembly;
X-Kali-Package=recstudio
