[Desktop Entry]
Name=baksmali
Encoding=UTF-8
Exec=sh -c "java -jar /usr/bin/baksmali --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-01-android-tools;
X-Kali-Package=smali
