[Desktop Entry]
Name=inguma
Encoding=UTF-8
Exec=sh -c "inguma;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-09-inguma;
X-Kali-Package=inguma
