[Desktop Entry]
Name=jboss-autopwn-win
Encoding=UTF-8
Exec=sh -c "jboss-win;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-exploitation-tools;
X-Kali-Package=jboss-autopwn
