[Desktop Entry]
Name=genpmk
Encoding=UTF-8
Exec=sh -c "genpmk;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;
X-Kali-Package=cowpatty
