[Desktop Entry]
Name=dbd
Encoding=UTF-8
Exec=sh -c "dbd -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-02-tunneling;08-01-os-backdoors;
X-Kali-Package=dbd
