[Desktop Entry]
Name=pyrit
Encoding=UTF-8
Exec=sh -c "pyrit -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-03-gpu-tools;04-02-offline-attacks;
X-Kali-Package=pyrit
