[Desktop Entry]
Name=jcop set atr historical bytes
Encoding=UTF-8
Exec=sh -c "jcopsetatrhist.py -R RFIDIOt.rfidiot.READER_PCSC;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-02-rfidiot-pcsc;
X-Kali-Package=python-rfidiot
