[Desktop Entry]
Name=md5deep
Encoding=UTF-8
Exec=sh -c "md5deep -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-06-forensic-hashing-tools;
X-Kali-Package=md5deep
