[Desktop Entry]
Name=javasnoop
Encoding=UTF-8
Exec=sh -c "javasnoop"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-03-misc-tools;
X-Kali-Package=javasnoop
