[Desktop Entry]
Name=rtl_sdr
Encoding=UTF-8
Exec=sh -c "rtl_sdr;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-sdr-tools;
X-Kali-Package=librtlsdr-bin
