[Desktop Entry]
Name=ollydbg
Encoding=UTF-8
Exec=sh -c "ollydbg"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-01-debuggers;
X-Kali-Package=ollydbg
