[Desktop Entry]
Name=bed
Encoding=UTF-8
Exec=sh -c "cd /usr/bin/ && ./bed.pl;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
X-Kali-Package=bed
