[Desktop Entry]
Name=reaver
Encoding=UTF-8
Exec=sh -c "reaver -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-wlan-stress-testing;
X-Kali-Package=reaver
