[Desktop Entry]
Name=rtpflood
Encoding=UTF-8
Exec=sh -c "rtpflood;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-02-voip-tools;
X-Kali-Package=rtpflood
