[Desktop Entry]
Name=medusa
Encoding=UTF-8
Exec=sh -c "medusa -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-online-attacks;
X-Kali-Package=medusa


