[Desktop Entry]
Name=fake_router26
Encoding=UTF-8
Exec=sh -c "fake_router26;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-network-spoofing;
X-Kali-Package=thc-ipv6
