[Desktop Entry]
Name=unix-privesc-check
Encoding=UTF-8
Exec=sh -c "unix-privesc-check;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-misc-scanners;
X-Kali-Package=unix-privesc-check
