[Desktop Entry]
Name=mailsnarf
Encoding=UTF-8
Exec=sh -c "mailsnarf -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-03-network-sniffers;
X-Kali-Package=dsniff
