[Desktop Entry]
Name=skipfish
Encoding=UTF-8
Exec=sh -c "skipfish -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Kali-Package=skipfish
