[Desktop Entry]
Name=dradis stop
Encoding=UTF-8
Exec=sh -c "service dradis stop;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-10-dradis-service;
X-Kali-Package=dradis
