[Desktop Entry]
Name=hydra
Encoding=UTF-8
Exec=sh -c "hydra -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-online-attacks;top10;
X-Kali-Package=hydra


