[Desktop Entry]
Name=lynis
Encoding=UTF-8
Exec=sh -c "lynis -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-misc-scanners;
X-Kali-Package=lynis
