[Desktop Entry]
Name=extundelete
Encoding=UTF-8
Exec=sh -c "extundelete --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-03-digital-forensics;
X-Kali-Package=extundelete
