[Desktop Entry]
Name=msfvenom
Encoding=UTF-8
Exec=sh -c "msfvenom -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-metasploit-framework;08-01-os-backdoors;08-03-web-backdoors;
X-Kali-Package=metasploit-framework
