[Desktop Entry]
Name=thc-ssl-dos
Encoding=UTF-8
Exec=sh -c "thc-ssl-dos -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-web-stress-testing;
X-Kali-Package=thc-ssl-dos
