[Desktop Entry]
Name=enumiax
Encoding=UTF-8
Exec=sh -c "enumiax -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-15-voip-analysis;
X-Kali-Package=enumiax
