[Desktop Entry]
Name=affcopy
Encoding=UTF-8
Exec=sh -c "affcopy -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-04-forensic-analysis-tools;
X-Kali-Package=afflib-tools
