[Desktop Entry]
Name=jad
Encoding=UTF-8
Exec=sh -c "jad;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-disassembly;
X-Kali-Package=jad
