[Desktop Entry]
Name=beef
Encoding=UTF-8
Exec=sh -c "service beef-xss start; xdg-open http://127.0.0.1:3000/ui/panel;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-beef-xss-framework;
X-Kali-Package=beef-xss
