[Desktop Entry]
Name=wifite
Encoding=UTF-8
Exec=sh -c "wifite --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;
X-Kali-Package=wifite
