[Desktop Entry]
Name=tsk_comparedir
Encoding=UTF-8
Exec=sh -c "tsk_comparedir;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-03-digital-forensics;
X-Kali-Package=sleuthkit
