[Desktop Entry]
Name=metasploit stop
Encoding=UTF-8
Exec=sh -c "/opt/metasploit/scripts/stop.sh;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-09-metasploit-service.directory;
X-Kali-Package=metasploit
