[Desktop Entry]
Name=dex2jar
Encoding=UTF-8
Exec=sh -c "d2j-dex2jar -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-01-android-tools;09-03-misc-tools;
X-Kali-Package=dex2jar
