[Desktop Entry]
Name=sslscan
Encoding=UTF-8
Exec=sh -c "sslscan;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;01-09-service-fingerprinting;
X-Kali-Package=sslscan
