[Desktop Entry]
Name=searchsploit
Encoding=UTF-8
Exec=sh -c "searchsploit;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-07-exploit-db;
X-Kali-Package=exploitdb
