[Desktop Entry]
Name=identify lf tag type
Encoding=UTF-8
Exec=sh -c "lfxtype.py -R RFIDIOt.rfidiot.READER_ACG -l /dev/ttyUSB0 -s 9600;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-03-rfidiot-acg;
X-Kali-Package=python-rfidiot
