[Desktop Entry]
Name=webspy
Encoding=UTF-8
Exec=sh -c "webspy -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-03-network-sniffers;07-05-web-sniffers;
X-Kali-Package=dsniff
