[Desktop Entry]
Name=flasm
Encoding=UTF-8
Exec=sh -c "flasm;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-03-misc-tools;
X-Kali-Package=flasm
