[Desktop Entry]
Name=jls
Encoding=UTF-8
Exec=sh -c "jls;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-05-forensic-carving-tools;
X-Kali-Package=sleuthkit
