[Desktop Entry]
Name=wpscan
Encoding=UTF-8
Exec=sh -c "wpscan --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Kali-Package=wpscan
