[Desktop Entry]
Name=ferret
Encoding=UTF-8
Exec=sh -c "ferret -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-web-sniffers;
X-Kali-Package=ferret
