[Desktop Entry]
Name=rtpbreak
Encoding=UTF-8
Exec=sh -c "rtpbreak -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-02-voip-tools;
X-Kali-Package=rtpbreak
