[Desktop Entry]
Name=sshd start
Encoding=UTF-8
Exec=sh -c "service ssh start;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-06-sshd;
X-Kali-Package=openssh-server
