[Desktop Entry]
Name=kill_router6
Encoding=UTF-8
Exec=sh -c "kill_router6;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-network-stress-testing;
X-Kali-Package=thc-ipv6
