[Desktop Entry]
Name=dnschef
Encoding=UTF-8
Exec=sh -c "dnschef -h;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-network-spoofing;07-03-network-sniffers;
X-Kali-Package=dnschef
