[Desktop Entry]
Name=metasploit framework
Encoding=UTF-8
Exec=sh -c "msfconsole;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-metasploit-framework;top10;
X-Kali-Package=metasploit-framework
