[Desktop Entry]
Name=Update Metasploit
Encoding=UTF-8
Exec=sh -c "msfupdate;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-metasploit-framework;
X-Kali-Package=metasploit-framework
