[Desktop Entry]
Name=metasploit diagnostic logs 
Encoding=UTF-8
Exec=sh -c "/opt/metasploit/diagnostic_logs.sh;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-metasploit-framework;
X-Kali-Package=metasploit
