[Desktop Entry]
Name=inverse_lookup6
Encoding=UTF-8
Exec=sh -c "inverse_lookup6;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
X-Kali-Package=thc-ipv6
