[Desktop Entry]
Name=tnscmd10g
Encoding=UTF-8
Exec=sh -c "tnscmd10g;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-05-database-assessment;
X-Kali-Package=tnscmd10g
