[Desktop Entry]
Name=trace6
Encoding=UTF-8
Exec=sh -c "trace6;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Kali-Package=thc-ipv6
