[Desktop Entry]
Name=pasco
Encoding=UTF-8
Exec=sh -c "pasco;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-05-forensic-carving-tools;
X-Kali-Package=pasco
