[Desktop Entry]
Name=se-toolkit
Encoding=UTF-8
Exec=sh -c "se-toolkit;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-06-social-engineering-toolkit;
X-Kali-Package=set
