[Desktop Entry]
Name=rebind
Encoding=UTF-8
Exec=sh -c "rebind;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-network-spoofing;
X-Kali-Package=rebind
