[Desktop Entry]
Name=shellnoob
Encoding=UTF-8
Exec=sh -c "shellnoob;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-10-exploit-dev;
X-Kali-Package=shellnoob
