[Desktop Entry]
Name=sslsplit
Encoding=UTF-8
Exec=sh -c "sslsplit -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;07-04-network-spoofing;
X-Kali-Package=sslsplit
